/.DepModelGSPNTransformationViatra.java._trace
/.DepModelToGPSNTransformationViatra.java._trace
/.TransformationRules.java._trace
/.TransformationViatra.java._trace
/DepModelToGPSNTransformationViatra.java
/TransformationRules.java
