<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated petriNetEMF -->
      <package
            uri="http://www.example.org/petriNetEMF"
            class="model.petriNetEMF.PetriNetEMFPackage"
            genModel="model/petriNetEMF.genmodel"/>
   </extension>

</plugin>
